* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 700px;
  width: 70%;
  margin: 25px auto 0 auto;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
}

h2, h3, h4 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700; 
  color: #ff7b7b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7em;
}

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
  color: #197eb1; 
}

/* .page-heading{
  background: -webkit-linear-gradient(#51bdf3, #197eb1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-line: underline;
  text-decoration-color: #ff7b7b;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
} */

/* .fa-gradient {
  background: -webkit-linear-gradient(#51bdf3, #197eb1);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.byline {
  font-weight: 900;
  font-size: .8em;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 0;
}

i {
  margin-right: .5em;
}

p {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 0 0 1.5rem;
}

.top-line {
  width: 100%;
  border-top: 5px;
  border-style: solid;
  z-index: 100;
  border-color: #ff7b7b;
}

.selfie {
  border-radius: 50%;
  transition: border-radius 3s ease-in;
}

.selfie:hover {
  border-radius: 10% / 50%;
}

header a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 20px;
}

.navbar nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar nav li {
  list-style: none;
}

.navbar nav a {
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  margin: 0 25px 0 0;
}

.navbar nav a:hover {
  color: #ff7b7b;
}

footer {
  margin-left: auto;
  margin-right: auto;
}

footer p {
  color: #197eb1; 
  font-size: .8em;
}

.pics-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

figure {
  margin: 10px;
}

figcaption {
  text-align: center;
  font-size: .8em;
  padding: 3px;
}

figure:nth-child(odd) figcaption {
  background: #51bdf3;
}

figure:nth-child(even) figcaption {
  background: #ff7b7b;
}