h1 {
  color: rgba(20, 153, 64, 0.89);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 47, 255);
}

h2 {
  color: rgba(20, 89, 153, 0.89);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(162, 0, 255);
}

nav {
  border-style: solid;
  border-width: 2px;
  border-color: darkolivegreen;
}

section {
  border-style: dashed;
  border-width: 2px;
  border-color: gray;
}

section {
  border-style: dotted;
  border-width: 1px;
  border-color: black;
}

aside {
  border-style: solid;
  border-width: 1px;
  border-color: pink;
}

p {
  color: rgb(9, 58, 29);
}

body {
  color: rgb(33, 34, 30);
  background-color: rgb(207, 207, 207);
}

.purple-text {
  color: rgba(0, 0, 255, .5);
}

.important {
  font-weight: bold;
}

#lead-paragraph {
  color: purple;
  font-weight: bold;
}

.important:hover {
  background-color: #ec3e09;
}

a[href="#"] {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

a[href="index.html"] {
  background-color: coral;
  padding: 1rem;
}

a[href="about-me.html"] {
  background-color: rgb(85, 52, 230);
  padding: 1rem;
}

a[href="sunsets-and-beaches.html"] {
  background-color: rgb(250, 152, 4);
  padding: 1rem;
}

p.important {
  width: 75%;
}

img {
  border-style: double;
  border-color: pink;
  border-width: 3px;
  width: 20%;
}